/* print */
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none;
  }

  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* a:after { content: " (" attr(href) ")"; } */

  a:after {
    content: "" !important;
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }
  /* Don't show links for images */

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  body {
    font-size: 12px;
    line-height: 1.2em;
  }

  .container {
    width: 100%;
  }

  table {
    width: 100%;
    page-break-after: auto;
  }

  tr {
    page-break-inside: auto;
  }

  td {
    page-break-inside:avoid; 
    page-break-after:auto;
    vertical-align: top !important;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }
}