.m-pageheader {
  padding-top: 40px;
  padding-bottom: 25px;
  margin-bottom: 55px;
  border-bottom: 1px solid #f0f0f0;
}

.c-pageheader {
  
}

.c-pageheader__title {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  color: $color_primary;
}

.c-pageheader__summary {
  margin-top: 20px;
  color: #6c6c6c;
  p {
    margin: 0;
  }
}